* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #e0f7fa, #fce4ec);
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    width: 700px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.card {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.card h2 {
    margin-bottom: 15px;
}

/* Section Colors */
.male {
    background: #e3f2fd;
}

.female {
    background: #fce4ec;
}

.common {
    background: #f3e5f5;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: 500;
}

select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

textarea {
    height: 70px;
    resize: none;
}

input[type="checkbox"] {
    margin-right: 6px;
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #009688;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #00796b;
}

@media(max-width: 750px){
    .container{
        width: 95%;
    }
}